doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Estonia&family=Mulish:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap" rel="stylesheet")

        link(rel="stylesheet", href="/index.css")
        link(rel="icon", href="", type="image/x-icon")
        title #{titulo}

    body 

        header.flex-between 
            .flex-center 
                img(class="logo" src="#")
                span(class="span-autor") Master Reiki Usui Rose Mary Alvez
                img(class="" src="#")
            
            nav.menu 
                ul(class="flex-around menu-lista")
                    li
                        a(href="/") Inicio
                    li
                        a(href="#") Nosotros
                    li
                        a(href="#") Contacto
                        
                    li
                        a(href="/login.html") Iniciar Sesion
                    li
                        a(href="/registro.html") Registrarse
             
        .container.index 
            h1 En el Index sin registrar
   
      

    script(src="/index.js")         
